{:paths ["src"]
 :deps  {org.graphqlize/graphqlize        {:mvn/version "0.1.0-alpha-4"}
         hikari-cp                        {:mvn/version "2.10.0"}
         org.postgresql/postgresql        {:mvn/version "42.2.8"}
         org.slf4j/slf4j-simple           {:mvn/version "1.7.30"}
         com.walmartlabs/lacinia-pedestal {:mvn/version "0.13.0-alpha-1"}
         org.clojure/clojure              {:mvn/version "1.10.1"}}}